*.env
*ddclient.conf
*cloudflare-acme.json
*.sqlite3
*notification.txt
*.log
*.log.gz
*.bak
services/_deprecated/organizr/config/
services/jellyfin/cache/
services/jellyfin/config/
services/radarr/config/
services/syncthing/config/
.stackctl
